<h1><%= @keyboard.name %></h1>

<h2><%= @commit.parent.name %> .. <%= @commit.name %></h2>

<%= react_component('TextualEditor', 'textual-editor', data: raw(@commit.parent.as_json), changes: raw(@commit.as_json)) %>