<h1><%= @keyboard.name %></h1>

<h2><%= @parent_commit.name %> .. <%= @commit.name %></h2>

<%= react_component('DiffEditor', originalData: raw(@parent_commit.as_json), changedData: raw(@commit.as_json)) %>