<h1> <%= @keyboard.name %> Commits:</h1>

<% @commits.each do |commit| %>
	<p>
		<%= link_to commit.name, [@user, @keyboard, commit] %>

		<%= link_to 'Diff', [:diff, @user, @keyboard, commit] %>
	</p>
<% end %>