<h1> <%= @keyboard.name %> Commits:</h1>

<% @commits.each do |commit| %>
	<p>
		<%= link_to commit.name, commit_path(commit) %>

		<%= link_to 'Delete', commit_path(commit), method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
<% end %>