<h1> <%= @keyboard.name %> Commits:</h1>

<% @commits.each do |commit| %>
	<p>
		<%= link_to commit.name, keyboard_commit_path(@keyboard, commit) %>

		<%= link_to 'Delete', keyboard_commit_path(@keyboard, commit), method: :delete, data: { confirm: 'Are you sure?' } %>
	</p>
<% end %>