<h1><%= @keyboard.name %></h1>


<%= render 'form' %>

<div id="visual-editor">
</div>

<div id="editor">
</div>


<%= javascript_tag do %>
/*
  window.createEditor = function(initialKeyboardData, keyboardData) {

    var editorElement = document.getElementById("editor");

    if (keyboardData) {

      console.log("ULALA");

      window.editor = CodeMirror.MergeView(editorElement, {
        orig: initialKeyboardData,
        value: initialKeyboardData,
        lineNumbers: true,
        mode: "application/ld+json",
        highlightDifferences: true
      });

      console.log(window.editor.editor())

      window.editor.editor().on("change", function(editor, change) {
        yizhackclj.db.serialization.set_keyboard_data(editor.getValue()); 
      });

      window.resizeEditor();

    } else {

      console.log("NONONO");

      window.editor = CodeMirror(editorElement, {
        value: initialKeyboardData,
        lineNumbers: true,
        mode: "application/ld+json",
        readOnly: true
      });
    }

    editorElement.className += "hidden";
  }


  function mergeViewHeight(mergeView) {
    function editorHeight(editor) {
      if (!editor) return 0;
      return editor.getScrollInfo().height;
    }
    return Math.max(editorHeight(mergeView.leftOriginal()),
                    editorHeight(mergeView.editor()),
                    editorHeight(mergeView.rightOriginal()));
  }

  window.resizeEditor = function() {
    var mergeView = window.editor;
    var height = mergeViewHeight(mergeView);
    for(;;) {
      if (mergeView.leftOriginal())
        mergeView.leftOriginal().setSize(null, height);
      mergeView.editor().setSize(null, height);
      if (mergeView.rightOriginal())
        mergeView.rightOriginal().setSize(null, height);

      var newHeight = mergeViewHeight(mergeView);
      if (newHeight >= height) break;
      else height = newHeight;
    }
    mergeView.wrap.style.height = height + "px";
  }
*/
  visual_editor.core.initialize("<%= j raw @commit.as_json %>", false);

<% end %>