<h1><%= @keyboard.name %></h1>

<h2><%= @commit.name %></h2>

<div id="app">
</div>

<div id="text">
</div>


<%= javascript_tag do %>

window.editor = CodeMirror(document.getElementById("text"), {
        mode:  "application/ld+json",
        lineNumbers: true
      });

yizhackclj.components.initialize(<%= raw @commit.data.to_json %>);

<% end %>