<%= link_to 'Edit', edit_user_keyboard_talk_comment_path(@user.name, @keyboard.name, @talk, @comment) %> 

<%= link_to 'Delete', user_keyboard_talk_comment_path(@user.name, @keyboard.name, @talk, @comment), method: :delete, data: { confirm: 'Are you sure?' } %>


<div id="content" class="markdown"></div>

<%= render :partial => "shared/markdown_object", object: @comment, locals: {dataMethod: :data} %>