<%= link_to 'Edit', edit_comment_path(@comment) %> 

<%= link_to 'Delete', comment_path(@comment), method: :delete, data: { confirm: 'Are you sure?' } %>


<div id="content" class="markdown"></div>

<%= render :partial => "shared/markdown_object", object: @comment, locals: {dataMethod: :data} %>