<% if activity.trackable && activity.owner %>
	<div>
		<%= activity.owner == User.first ? "You" : link_to(activity.owner.name, user_path(activity.owner.name)) %>

  		unliked <%= link_to activity.trackable.name, user_keyboard_path(activity.owner.name, activity.trackable.name) %>
  	</div>
<% else %>
  	<div>
		<%= activity.owner == User.first ? "You" : link_to(activity.owner.name, user_path(activity.owner.name)) %>

  		unliked keyboard that does not exist anymore.
  	</div>
<% end %>