<% if activity.trackable && activity.owner %>
	<div>
		<%= activity.owner == User.first ? "You" : link_to(activity.owner.name, user_path(activity.owner.name)) %>

  		updated <%= link_to activity.trackable.title, user_keyboard_talk_path(activity.owner.name, activity.trackable.keyboard.name, activity.trackable) %> talk
  	</div>
<% else %>
  	<div>
		<%= activity.owner == User.first ? "You" : link_to(activity.owner.name, user_path(activity.owner.name)) %>

  		updated talk that does not exist anymore.
  	</div>
<% end %>