<div>

	<h3>Your liked keyboards: </h3>

	<% @liked_keyboards.each do |liked_keyboard| %>
		<div>
			<%= link_to "#{liked_keyboard.user.name}/#{liked_keyboard.name}", [liked_keyboard.user, liked_keyboard]  %>
		</div>
	<% end %>

</div>