<h1>Keyboard name: <%= @keyboard.name %></h1>
<p>Deyboard description: <%= @keyboard.description %></p>

<%= link_to 'Edit', edit_keyboard_path(@keyboard) %> 

<%= link_to 'Delete', keyboard_path(@keyboard), method: :delete, data: { confirm: 'Are you sure?' } %>