<% if activity.trackable && activity.owner %>
	<div>
		<%= activity.owner == User.first ? "You" : link_to(activity.owner.name, [activity.owner]) %>

  		unfollowed
  		<%= link_to(activity.trackable.name, [activity.trackable]) %>
  	</div>
<% else %>
  	<div>
		<%= activity.owner == User.first ? "You" : link_to(activity.owner.name, [activity.owner]) %>

  		unfollowed user that does not exist anymore.
  	</div>
<% end %>