<% if activity.trackable && activity.owner %>
	<div>
		<%= activity.owner == User.first ? "You" : link_to(activity.owner.name, [activity.owner]) %>

  		added
  		<%= link_to "Comment", [activity.owner, activity.trackable.talk.keyboard, activity.trackable.talk, activity.trackable] %>
  		to
  		<%= link_to activity.trackable.talk.title, [activity.owner, activity.trackable.talk.keyboard, activity.trackable.talk] %>
  		talk
  	</div>
<% else %>
  	<div>
		<%= activity.owner == User.first ? "You" : link_to(activity.owner.name, [activity.owner]) %>

  		added comment that does not exist anymore.
  	</div>
<% end %>